.item_detail_container {
	width: 70%;
	height: 100%;
	margin: 50px 0 0 50px;
	/*
	float: right;
	overflow-y: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	*/
}

.item_table table {
	background-color: rgba(0, 0, 0, 0.55) !important;
}

.div_back {
	text-align: center;
	height: 25px;
	margin-top: 25px;
}
