.item_container {
	width: 85%;
	height: 100%;
	float: right;
	overflow-y: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 25px;
	align-content: space-between;
}

/* Item Container */
.categorybox {
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	align-content: center;
}

.categorybox .btn_cat {
	margin: 0 25px 0 25px;
	text-align: center;
}

.categorybox2 {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	text-align: center;
	margin: 50px 0 50px 0;
}
.item_container .Tarjeta {
	width: 25rem;
	margin: 25px 15px 25px 15px;
	background-color: rgba(138, 238, 147, 0.1) !important;
}

.item_container .Tarjeta a:hover {
	color: inherit;
}

.item_container .Tarjeta2 {
	width: 25rem;
	margin: 25px 15px 25px 15px;
	background-color: rgba(19, 219, 226, 0.25) !important;
}

/* Item Detail Container */
.icono {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 10px 0 10px 0;
}

#quantity input {
	width: 70px;
	height: 30px;
	text-align: center;
}

.icono #quantity {
	height: 30px;
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

#quantity input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

#quantity input {
	-moz-appearance: textfield;
}

/* WELCOME SITE*/
.contenidos {
	margin-top: 50px !important;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grupo_index {
	margin: 10px;
	width: 90%;
	height: 25%;
}

/* CARRITO LIST SITE*/
.contenidos .icon_remove {
	height: 20px;
}
